h1 {font-family: courier;
 
} 
body {background-color: lightBlue;
 
}
div.a {text-alignment: center;
}
.miata-lord { border: solid 2px;
text-align: center;
}
.build-list {font-weight: bold;
}
.miat-div {margin: 20px;
border-radius: 20px;
 border: solid 20px blue;
}
