h1 {
  font-family: sans-serif;
}
html {
  background: linear-gradient(30deg, cyan, azure); 
}
body {
  background: linear-gradient(30deg, cyan, azure); 
.miata-lord {
  border: solid 2px;
text-align: center;
border-radius: 10px;
background: linear-gradient(lightBlue, white);
margin-bottom: 0;

}
.build-list {
  font-weight: bold;
  z-index: 1;
}
.miat {
  border-radius: 15px;
position: relative;
z-index: -0;
}
.catch {
  text-align: center;
position: ;
bottom: 20px;
}
.container {
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.menuitem {
  z-index: 1;
  position: absolute;
}
.menu {
  display: flex;
 justify-content: space-between;
}
